html, body {
    font-family: 'Nunito Sans', sans-serif;
}
p, li {
    font-size: 1.2em;
}
#logo img {
    width: 40%;
}
@media (max-width: 576px) {
    #logo img {
        width: 100%;
    }
    /* Los estilos aquí contenidos solo se aplicarán a partir
    del tamaño de pantalla indicado */
}
@media (min-width: 577px) and (max-width: 768px) {
    #logo img {
        width: 80%;
    }
    /* Solo se aplicarán entre los tamaños indicados */
}
/*navbar*/

li {
    margin-left: 10vw;
}
#navbar {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
#panoramas {
    margin-top: 5vh;
}
article {
    margin: 10px;
}
/*slider*/

.responsive {
    margin-top: 30px;
}
.slide {
    padding: 5px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.slide a p {
    position: absolute;
    top: 20px;
    color: white;
}
/*Global Styles */

/** {
    margin: 0;
    padding: 0;
}
html, body, {
    width: 100%;
    height: 100%;
}*/

/*mapa*/

#map {
    height: 60vh;
    width: 100%;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#formContent {
    position: relative;
    bottom: 300px;
    left: 300px;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}
@media only screen and (max-width: 767px) {
    #formContent {
        position: static;
        width: 100%;
        margin-top: 20px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    #formContent {
        position: relative;
        bottom: 300px;
        left: 230px;
        width: 200px;
        margin: 0 auto;
        padding: 20px;
        background-color: gray;
    }
    /* Solo se aplicarán entre los tamaños indicados */
}
@media (min-width: 993px) {
    /* Los estilos aquí contenidos solo se aplicarán a partir
    del tamaño de pantalla indicado */
}
#formContent label {
    font-size: 1.2em;
    color: gray;
}
/*footer*/

.page-footer {
    margin-top: 20px;
    background-color: gray;
    color: white;
}
.list-unstyled li {
    display: inline;
    margin: 15px;
}
.list-unstyled li a i {
    font-size: 40px;
}
.list-unstyled li a {
    color: white;
}
.display {
    display: none;
}
#contact {
    color: white
}